*{
	box-sizing: border-box;
}
html,
body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
	font-size: 18px;
	background-color: #f7f7f7;
	color: #242E3A;
	/*overflow-x: hidden;*/
}
a{
	text-decoration: none;
	font-size: 18px;
	color: #555;
}

ul, li{
	list-style: none;
	padding: 0;
	margin: 0;
}
header{
	background-color: #1b232c;
	height: 80px;
	width: 100%;
	display: flex;
	align-items: center;
	position: fixed;
	z-index: 9000;
	box-shadow: 0 1px 1px -1px #333;
	border-bottom: 1px solid rgba(0,0,0,.08);
}
header .header_container{
	margin: 0 0 0 13%;
	max-width: 980px;
	position: relative;
	padding: 0;
}
header #logo{
	background-image: url('https://music.uberchord.com/assets/images/png/uc-logo.png');
	background-repeat: no-repeat;
	width: 256px;
	height: 46px;
	background-size: contain;
	cursor: pointer;
}

main{
	margin: 0 auto;
	max-width: 980px;
	position: relative;
	padding-top: 100px;
	padding-bottom: 80px;
}
.path{
	margin: 20px 0;
}
.topdetails{
	display: flex;
	flex-direction: row;
	/*flex-wrap: wrap;*/
	margin: 30px 0;
	padding: 0;
	height: 390px;
	position: relative;
}
.imgpath{
	display: flex;
	width: 29%;
	margin-right: 10px;
	margin-left: 0;
}
.details_{
	display: flex;
	flex-direction: column;
	width: 70%;
    margin-left: 5%;
}



.subsub{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	margin: 20px 0;
	align-items: center;
}

.premium{
	display: flex;
	align-items: center;
	justify-content: center;
	width: auto;
	padding: 5px 30px;
	height: 100%;
	border-radius: 20px;
	border: 2px solid #242E3A;
}
.premium_{
	background-color: #2c3e50;
	color: #fff;
	padding: 5px 20px;
	border-radius: 20px;
	border: 2px solid #2c3e50;
	display: inline;
	font-weight: 300;
}

.exercises{
	display: flex;
	flex-direction: column;
	font-size: 16px;
}
.shoW{
	display: flex;
}
.dot{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	margin-right: 6px;
	margin-top: 5px;
}
.dot1{
	background-color: #e74c3c;
}
.dot2{
	background-color: #ddd;
}



.listing{
	margin: 40px 0 80px -20px;

}

.listing ul li{
    position: relative;
    display: flex; 
    flex-direction: row; 
    width: 100%; 
    justify-content: space-between; 
    margin: 20px 0;
    cursor: not-allowed;
}
.separator{
    border-bottom: 1px solid rgba(0,0,0,.08); 
    max-width: 96%; 
    display: flex; 
    margin-left: 4%
}
.listing ul li i{
    font-size: 28px; 
    position: absolute; 
    right: 10px;
}
.listing ul li span:nth-child(1){
    margin-left: 20px; 
    font-weight: 500;
}
.listing ul li span:nth-child(2){
    font-size: 15px; 
    padding-left: 20px;
}



footer{
	background: #1b232c;
	padding: 50px 0 70px;
	color: #fff;
	position: relative;
	bottom: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	font-weight: 300;
	margin-top: 80px;
}
.headfooter{
	display: flex;
	flex-direction: row;
	margin-bottom: 50px;
}
.social{
	display: flex;
	flex-direction: row;
	position: relative;
	top: 25px;
}
.iconsocial{
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background-color: white;
	color: #444;
	margin-right: 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.iconsocial i{
	font-size: 24px;
}
.input div{
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 10px;
}
.input input[type="email"]{
	border: none;
	border: 1px solid #fff;
	border-radius: 5px;
	width: 280px;
	outline: none;
	background: none;
	padding: 8px 20px 8px 10px;
	font-family: 'Roboto';
	font-size: 14px;
	color: #fff;
}
.input input[type="submit"]{
	border: none;
	border: 2px solid #fff;
	border-radius: 20px;
	outline: none;
	background: none;
	padding: 8px 24px;
	font-family: 'Roboto';
	font-size: 14px;
	color: #fff;
	margin-left: 10px;
}
.bodyfooter{
	margin-bottom: 60px;
}
.bodyfooter ul{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.bodyfooter ul li{
	margin-right: 20px;
}
.bodyfooter ul li a{
	font-size: 12px;
	color: #fff;
	font-weight: 300;
}
.footfooter{
	color: #999;
	font-size: 15px;
}


.update{
	display: flex; 
	flex-direction: row; 
	justify-content: center; 
	align-items: center; 
	width: 60px; 
	height: 60px; 
	border-radius: 50%; 
	background-color: #fff; 
	margin:0 20px; 
	cursor: pointer;	
	transition: all 10ms ease;
}
.update:hover, .update:hover i{
	background-color: #242E3A;
	color: #fff;
}
.update i{
	font-size: 32px;
	color: #242E3A;
}

@media only screen{
	header .header_container{
		margin: 0 0 0 2%;
	}
}
